<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="nav-link btn-outline-light" href="/">Домой</a>
    {% if not current_user.is_authenticated %}
    <a class="nav-link btn-outline-light" href="/login">Авторизация</a>
    <a class="nav-link btn-outline-light" href="/create_user">Регистрация</a>
    {% else %}
    <a class="nav-link btn-outline-light" href="/add">Создать событие</a>
    <a class="nav-link btn-outline-light" href="/my_events">Мои задачи</a>
    <a class="nav-link btn-outline-light" href="/logout">Выйти</a>
    {% endif %}
</nav>